.join-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

h2 {
    text-align: center;
}

.join-section .icons {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.join-section .icons img{
    max-width:80%;
    height:auto;
}

.join-section .icons p{
    margin: 0;
}

.join-section .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.join-section .gallery img {
    max-width:90%;
    height:auto;
}

.join-section .gallery .foto1, .foto3 {
    margin-top: 10rem;
}

@media(max-width: 900px) {
    .join-section .icons {
        flex-direction: column;
    }
    .join-section .icons div{
        margin-bottom: 2rem;
    }
    .join-section .icons img{
        max-width:30%;
    }

    .join-section .gallery {
        display: flex;
        flex-direction: column;
    }
    .join-section .gallery .foto1, .foto3, .foto2 {
        margin-top: 0rem;
        margin-bottom: 2rem;
    }
}